{% extends 'base.html' %} {% import 'macros/macros.html' as m%} {% block title %}
<title>{{title}}</title>
{% endblock %} {% block content%} {% if tracks | length >0 or albums | length > 0 or artists | length > 0 %}
<h3>Tracks</h3>
{{m.display_tracks(l=tracks)}}
<h3>Albums</h3>
{{m.display(l=albums, class1="albums-disp", class2="details", propriety='img_cover', route='albums_page.goto_id')}}
<h3>Artists</h3>
{{m.display(l=artists, class1="artists-disp", class2="details",propriety='artist_img', route='artists_page.goto_artist')}} {% else %}
<p>No results</p>
{% endif %} {% endblock %}