venv/
__pycache__
music/
.DS_Store
*.mp3
backend/flask/commands.txt
*.jpeg


backend/flask/notes.txt

backend/flask/alembic.txt

sqlite2.db

backend/flask/test.py

backend/flask/node_modules/

backend/flask/vue/.vscode/

backend/flask/vue/comments.md

backend/flask/vue/src/views/TestView.vue

backend/flask/vue/src/views/Test2.vue

backend/flask/vue/vue-notes.md

backend/flask/pydantic-DB.txt

backend/flask/interfaces/track_w-comments.py

backend/flask/models/init-w-comments.py

backend/flask/schemas/desc.md

backend/flask/models/track-w-comments.py

backend/flask/app-w-comments.py

backend/flask/vue/src/App-w-comments.vue

backend/flask/react-app/src/route_components/Home-w-comments.js

backend/flask/models/album-w-comments.py

answerss.txt

alexandra-projectt.pdf
