venv/
__pycache__
music/
.DS_Store
*.mp3
backend/flask/commands.txt
*.jpeg


backend/flask/notes.txt

backend/flask/alembic.txt

sqlite2.db

backend/flask/test.py

backend/flask/node_modules/

backend/flask/vue/.vscode/

backend/flask/vue/comments.md
