html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto'
}

* {
    box-sizing: border-box;
}

footer {
    position: fixed;
    width: 100vw;
    bottom: 0px;
}

header {
    padding: 0;
    background-color: #38006b;
    color: antiquewhite;
    padding: 2em;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #9c4dcc;
}

nav {
    background-color: #6a1b9a;
    padding: 20px;
    /* width: 100%;  */
    width: 20%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding-bottom: 0.5em;
}

nav a:hover {
    font-weight: lighter;
    font-style: italic;
}

a:link {
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: black;
}

main {
    background-color: #9c4dcc;
    width: 80%;
    padding: 1.5em;
    margin-bottom: 12%;
}

.page-layout {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 100px;
}

.details {
    display: flex;
    /* justify-content: space-around; */
    /* padding: 20px; */
    overflow: auto;
    white-space: nowrap;
}

.music-player {
    background-color: #38006b;
    color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* TODO: make image adjust to screen */

.albums-disp img {
    object-fit: cover;
    object-position: center center;
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
    padding: 1.5em;
}

.albums-disp,
.artists-disp {
    overflow-x: scroll;
}

.music-player img {
    object-fit: cover;
    object-position: center center;
    width: auto;
    height: auto;
    max-width: 20%;
    max-height: 20%;
    padding: 1.5em;
}

.artists-disp img {
    object-fit: cover;
    object-position: 50% 50%;
    width: auto;
    height: auto;
    max-width: 30%;
    max-height: 30%;
    border-radius: 50%;
    padding: 1.0em;
}

@media (max-width: 768px) {
    .page-layout {
        flex-direction: column;
    }
    nav {
        width: 100%;
    }
    main {
        width: 100%;
    }
    html,
    body {
        height: auto;
    }
    .albums-disp img {
        padding: 0.5em;
    }
    .music-player img {
        max-width: 30%;
        max-height: 30%;
    }
}