<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> {% block title %}
    <title>Homepage</title>{% endblock %}
    <!-- what shows up on search engine -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!-- <script src="" async defer></script> -->
    <header>
        <h1>Spotify (almost)</h1>
    </header>
    <div class="page-layout">

        <nav>
            <h2>Menu</h2>
            <ul>
                <!-- for loop -->
                {% for el in ['homepage', 'albums', 'artists', 'tracks', 'search']%}
                <li><a href="{{url_for(el + '_page' + '.' + el)}}"> {{el | capitalize}}</a></li>
                {% endfor %}
            </ul>
            <form>
                <input type="search" name="q" placeholder="Search ...">
                <input type="submit" value="Go!">
            </form>
        </nav>
        <main>
            <!-- block content -->
            {% block content %} content goes here {% endblock %}
        </main>
    </div>
    <!-- leave like this for now -->
    <footer class="music-player">
        <div>
            <button>Previous</button>
            <button>Play</button>
            <button>Next</button>
        </div>
        <img src="static/images/album_placeholder.jpeg" alt="album cover">
        <div>
            <div>
                <span>Song name</span>
                <br>
                <span>Album/Artist name</span>
            </div>
            <br>
            <input type="range" min="1" max="100" value="50">
        </div>
        <div>
            <span>Volume</span>
            <input type="range" min="1" max="100" value="50">
        </div>
    </footer>
</body>



</html>