nav {
    background-color: #6a1b9a;
    padding: 1.5em;
    /* padding-left: 2em; */
    width: 25%;
    text-align: center;
    min-height: 60vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0.5em;
}

form {
    padding: 0.5em;
}

