.details {
  display: flex;
}

.details a {
  min-width: 33%;
  min-width: 33%;
}

.albums-disp img {
  object-fit: cover;
  object-position: center center;
  width: 20em;
  height: auto;
  aspect-ratio: 1;
  max-width: 100%;
  max-height: 100%;
  padding: 1.5em;
}

.albums-disp,
.artists-disp {
  overflow-x: scroll;
}

.artists-disp img {
  object-fit: cover;
  object-position: 50% 50%;
  aspect-ratio: 1;
  width: 20em;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  padding: 1em;
}

@media (max-width: 768px) {
  .albums-disp img {
    padding: 0.5em;
  }
  .music-player img {
    max-width: 30%;
    max-height: 30%;
  }
}
