.music-player {
  background-color: #38006b;
  color: antiquewhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 13em;
  min-height: 5em;
  padding: 2em;
}

.volume {
  text-align: center;
  margin-left: 2em;
}

.player-img img {
  object-fit: cover;
  object-position: center;
  width: 20em;
  height: auto;
  aspect-ratio: 1;
  max-width: 50%;
  max-height: 50%;
}

.player-img {
  text-align: center;
}
