html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto'
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #9c4dcc;
}

a:hover {
    font-weight: lighter;
    font-style: italic;
}

a:link {
    text-decoration: none;
    font-weight: bold;
}

a:visited,
a {
    color: black;
}

/* TODO fix player size when screen very big */

@media (max-width: 768px) {
    .page-layout {
        flex-direction: column;
    }
    nav {
        width: 100%;
        min-height: 0vh;
    }
    main {
        width: 100%;
    }
    html,
    body {
        height: auto;
    }
    .albums-disp img {
        padding: 0.5em;
    }
    .music-player img {
        max-width: 30%;
        max-height: 30%;
    }
}